#bg {
    border: px solid black;
    width: 1200px;
    height: 520px;
    margin: auto;
    background-image: url('../images/maxresdefault.jpg');
    background-size: 100% 100%;
}

#root{
    border: px solid black;
    width: 1200px;

    margin: auto;
}
#headerDiv a{
    width: 1200px;
    height: 50px;
    color: black;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    text-decoration: none;
}

#headerDiv a:hover {
    color: gainsboro;
}

li {
    float: left;
    text-decoration: none;
    padding: 5px;
    font-size: 20px;
    position: relative;
    left: 100px;
    list-style-type: none
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#container {
    border: px solid red;
    width: inherit;
    height: 500px;
    margin: auto;
    text-align: center;
}

#containerOfSearch {
    text-align: center;
    width: inherit;
    position: relative;
    top: 50px;
    margin: auto;
    border: px solid blue;
}

#homeContainer_infoAboutApp {
    width: inherit;
    position: relative;
    margin: auto;
    padding-left: 100px;
    
    height: 300px;
    border: px solid purple;
}

#homeContainer {
    width: inherit;
    position: relative;
    margin: auto;
    
    height: 300px;
    border: px solid purple;
}

#floated{
    float: left;
    width: 300px;
    display: block;
    height: inherit;
    position: relative;
    background-image: url('../images/chucknorris-MIA2.jpg');
    left: -100px;
    background-size: 100% 100%;
}

#floated2 {
    float: right;
    width: 300px;
    display: block;
    height: inherit;
    margin-left: 50px;
    position: relative;
    background-image: url('../images/1756249276de26b8f9ba529c75a13090--chuck-norris-facts-chuck-norris-funny.jpg');
    right: 00px;
    background-size: 100% 100%;
}

#homeContainer i{
    position: relative;
    top: 10px;
    margin: 100px;
    letter-spacing: 0.5px;
    width: 400px;
    height: inherit;
    font-size: 20px;
}

#homeContainer_infoAboutApp i{
    position: relative;
    top: 10px;
    margin: 100px;
    letter-spacing: 0.5px;
    width: 100px;
    height: inherit;
    font-size: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 10px;
    text-align: left;
}

#containerOfSearch h3 {
    position: relative;
    left: -100px;
}

#deleteBtn:hover{
    background-color: red;
}

#deleteBtn {
    height: 80px;
    cursor: pointer;
    padding-top: 33px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
}

input[type=text] {
    width: 300px;
    padding: 10px 15px;
    margin: 13px 0;
    position: relative;
    left: -50px;
    display: inline-block;
    border: solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 150px;
    padding: 10px 15px;
    margin: 13px 0;
    position: relative;
    left: -50px;
    display: inline-block;
    border: px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
}

th:nth-child(1) {padding-left: 10% ; }
th:nth-child(2) {padding-right: 20% ;}
td:nth-child(1) {padding-left: 10% ;width: 180px;}
td:nth-child(2) {padding-left: 10% ;}


tr:nth-child(odd) {background-color: #f2f2f2;}

#footer {
    background-color: #f2f2f2;
    width: 1200px;
    height: 100px;
    margin: 100px auto;
    text-align: center;
    color: black;
}